<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= yield(:page_title) %></title>

  <!-- guides styles -->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
  <link rel="stylesheet" type="text/css" href="stylesheets/strobe.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/overrides.style.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/overrides.print.css" media="print" />
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- syntax highlighting styles -->
  <link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shCore.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shThemeRailsGuides.css" />
</head>
<body class="guide">
  <% if @edge %>
  <div><img src="images/edge_badge.png" alt="edge-badge" id="edge-badge" /></div>
  <% end %>

  <header role="banner">
    <div class="container">
      <h1 id="logo">
        <a href="/"><img src="images/header/logo.png" alt="SproutCore" /></a>
      </h1>
      <nav role="navigation">
        <ul>
          <li><a href="#">About</a></li>
          <li class="disabled">Demos</li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="feature">
    <div class="wrapper">
    <% if page_header = yield(:page_header).presence %>
      <%= page_header %>
    <% else %>
      <img src="../images/strobe/guides.png">
      <h2><%= Guides.meta["title"] %></h2>
      <p><%= Guides.meta["description"] %></p>
    <% end %>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <% if header_section = yield(:header_section).presence %>
          <div class="headerSection">
            <%= header_section %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <% if index_section = yield(:index_section).presence %>
        <%= index_section %>
      <% else %>
      <div id="subCol">
        <%= yield(:sidebar) %>
      </div>
      <% end %>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <%= yield :license %>
    </div>
  </div>

  <script type="text/javascript" src="javascripts/guides.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shCore.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushRuby.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushJScript.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushCss.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushXml.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushSql.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushPlain.js"></script>
  <script type="text/javascript">
    SyntaxHighlighter.all()

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19584397-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl': 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
