<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= yield(:page_title) %></title>

  <!-- guides styles -->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
  <link rel="stylesheet" type="text/css" href="stylesheets/strobe.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/overrides.style.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/overrides.print.css" media="print" />
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- syntax highlighting styles -->
  <link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shCore.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/shThemeStrobeGuides.css" />
</head>
<body class="guide">
  <% if @edge %>
  <div><img src="images/edge_badge.png" alt="edge-badge" id="edge-badge" /></div>
  <% end %>

  <header role="banner">
    <div class="container">
      <h1 id="logo">
        <a href="/"><img src="images/header/logo.png" alt="SproutCore" /></a>
      </h1>
      <nav role="navigation">
        <ul>
          <li><a href="http://sproutcore.com/about.html">About</a></li>
          <li class="active"><a href="/">Guides</a></li>
          <li><a href="http://sproutcore.com/docs.html">Docs</a></li>
          <li><a href="http://sproutcore.com/community.html">Community</a></li>
          <li><a href="http://blog.sproutcore.com">Blog</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="feature">
    <div class="wrapper">
      <div class="feature_header">
      <% if page_header = yield(:page_header).presence %>
        <%= page_header %>
      <% else %>
        <a href="/"><img src="../images/strobe/guides.png"></a>
        <h2><a href="/"><%= Guides.meta["title"] %></a></h2>
        <p><%= Guides.meta["description"] %></p>
      <% end %>
      </div>
      <div class="feature_sidebar">
        <a href="index.html" id="guidesMenu">
          Guides Index <span id="guidesArrow">&#9656;</span>
        </a>
        <div id="guides" class="clearfix" style="display: none;">
          <a href="index.html" class="guidesMenu">
            Guides Index <span class="guidesArrow">&#9662;</span>
          </a>
          <hr style="clear:both;">
          <%= clickable_index %>
        </div>
      </div>
    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <% if header_section = yield(:header_section).presence %>
          <div class="headerSection">
            <%= header_section %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <% if index_section = yield(:index_section).presence %>
        <%= index_section %>
      <% else %>
      <div id="subCol">
        <%= yield(:sidebar) %>
      </div>
      <% end %>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <div class="about">
        <h4>What is SproutCore?</h4>
        <p>SproutCore is an HTML5 application framework for building blazingly fast, innovative user experiences on the web no matter which device you’re using.</p>

        <h4>Legal Stuff</h4>
        <p>Copyright 2011 <a href="http://strobecorp.com">Strobe Inc.</a><br>
          The SproutCore framework is MIT licensed.</p>
      </div>

      <div class="site-nav">
        <h4>Site Navigation</h4>
        <ul>
          <li><a>About</a></li>
          <li><a>Blog</a></li>
          <li><a>Community</a></li>
          <li><a>Contact Us</a></li>
          <li><a>Contribute</a></li>
        </ul>
        <ul>
          <li><a>Credits</a></li>
          <li><a>Docs</a></li>
          <li><a>Downloads</a></li>
          <li><a>GitHub</a></li>
          <li><a>Guide</a></li>
        </ul>

        <img src="/images/strobe/html5logo.png">
      </div>

      <div class="connect">
        <h4>Get in Touch, Stay Informed</h4>
        <a><img src="/images/strobe/twitter.png"></a>
        <a><img src="/images/strobe/facebook.png"></a>
        <a><img src="/images/strobe/groups.png"></a>
        <a>
          Subscribe to<br>
          Mailing List
        </a>
        <div style="clear:left"></div>

        <h4>Sign Up For Our Newsletter</h4>
        <form action="/newsletter/subscribe" method="post" accept-charset="utf-8">
          <input type="text" value="enter your email address…" width="45">
          <input type="submit" value="Sign Up">
        </form>
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-1.6.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="javascripts/sproutGuides.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shCore.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushRuby.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushJScript.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushCss.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushXml.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushSql.js"></script>
  <script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushPlain.js"></script>
  <script type="text/javascript">
    SyntaxHighlighter.all()

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19584397-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl': 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
